.boxContainer {
    margin: 100px 10vw;
    display: grid;
    align-items: center;
  }
  .boxContainer .boxItems {
    transition: 0.5s;
  }
  .boxContainer .boxItems:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    cursor: pointer;
    transform: translateY(-5px);
  }
  .boxContainer img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .boxContainer .icon {
    margin-right: 10px;
    font-size: 20px;
  }
  .boxContainer .tag a {
    color: blue;
    opacity: 0.7;
  }
  .boxContainer .tag {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  .boxContainer h3 {
    font-weight: 500;
  }
  .boxContainer h4 {
    font-weight: 400;
  }
  .boxContainer p {
    color: #999;
    font-weight: 400;
    margin: 20px 0;
    font-size: 17px;
    line-height: 25px;
  }
  .boxContainer .date {
    display: flex;
    align-items: center;
  }
  .boxContainer .date label {
    display: block;
    margin-right: 20px;
  }
  
  @media only screen and (max-width: 1024px) {
    .container {
      display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    }
  }
  