
.animation {
    width: 50%;
    margin: 10px auto;
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 80vh;
    font-size: 20px;
    /* box-shadow: 0 2px 4px rgb(0 0 0 / 40%); */
    /* margin: 0px 50; */

}

.container {
    
}