/* HobbyPhotoAlbum.css */

.containerDiv {
    display: grid;
    gap: 2px; /* Remove the gap between images */
    margin: 10px; /* Adjust the margin as needed */
  }
  
  .indexDiv {
    position: relative;
    overflow: hidden;
  }
  
  .indexDiv .img {
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
    cursor: pointer;
    object-fit: cover;
  }
  
  .img:hover {
    transform: scale(1.05); /* Zoom in a bit on hover */
  }
  
  @media only screen and (min-width: 1024px) {
    .containerDiv {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
  }
  